body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricprecision;

    * {
        color: #201F24;
        font-family: Arial, sans-serif;
        line-height: 1.5;
    }
}
